
.footer {
  
    box-shadow:0px 0px 4px 4px black;
    background-color: #001439;
    width: 100%;
    
  }
  .footer a{
      background-color: transparent;
      border: 0;

  }


.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  bottom: 900px;
  left: 38%;
  font-size: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: #001439;
  -webkit-text-stroke: 1px black;
 }
