body {
 
  background-color: white;

}
html{
  
  scroll-behavior: smooth;
}
.navbarr {
  overflow: hidden;
  background-color: #001439 ;
  padding-top: 1%;
  width: 100%;
  border: 1px solid black;
  box-shadow:0px 0px 6px 6px black;
  
  
}

.navbarr a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 0.5%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbarr a.left {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 1%;
  
}

form.srch button {
  
  width: 5%;
  border-radius: 10%;
  padding: 6px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 2px solid black;
  cursor: pointer;
  margin-top: 0%;
  position: absolute;
}

form.srch button:hover {
  background: #0b7dda;
}


.navbarr input[type=text] {
  padding: 6px;
  width: 35%;
  float: left;
  color: black;
  font-size: 17px;
  margin-left: 1%;
  margin-top: 0%;
  position: relative;
}

.navbarr input[type=text] {
    border: 2px solid black;  
    border-radius: 1%;
}

.hoverr a:hover {
  background-color: #ddd;
  color: black;
}


.btns button{
  margin-left: 19%;
  margin-top: 5%;
  background: #00345b;
  border: black;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  width: 10%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
  
    .proimgs img{
  margin-right: 5%;
  margin-top: 5%;
  margin-left:8% ;
  margin-bottom: 10%;
  box-shadow:0px 0px 6px 6px black;
  height: 15%;
  width: 35%;
        }










